.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mainContainer {
    // width: 95%;
    display: flex;
    flex-direction: column;

    .bookDataContainer {
      display: flex;
      justify-content: center;
      padding: 5%;
      .image {
        width: 30vw;
        height: 40vw;
        margin-right: 3%;
        border-radius: 13px;
      }
      .dataContainer {
        display: flex;
        flex-direction: column;
        .bookTitle {
          text-transform: uppercase;
          margin: 0;
          margin-bottom: 1%;
        }
        .bookAuthorsContainer {
          font-weight: bold;
          margin-bottom: 3%;
          .bookAuthors {
            color: #958ada;
          }
        }
        .bookPublisherContainer {
          font-weight: bold;
          margin-bottom: 3%;
          .bookPublisher {
            color: #958ada;
          }
        }
        .bookGenresContainer {
          font-weight: bold;
          margin-bottom: 4%;
          .bookGenres {
            color: #958ada;
          }
        }
        .bookDescription {
          margin: 0;
          margin-bottom: 6%;
          font-weight: bold;
        }
        .borrowButton {
          background-color: #958ada;
          font-weight: bold;
          font-size: 1em;
          width: min-content;
          border-radius: 13px;
          border: none;
          color: white;
          padding: 0.7em 4em;
          position: relative;
          margin-bottom: 20px;
          cursor: pointer;
          .borrowButtonAdorment {
            position: absolute;
            left: 0;
            top: 0;
            height: calc(100% - 4px);
            border-bottom-left-radius: 13px;
            border-top-left-radius: 13px;
            margin-right: 50%;
            padding: 0 5%;
            border: solid 2px #958ada;
            background-color: white;
            color: #958ada;
          }
        }
        .wishlistButton {
          background-color: white;
          color: #958ada;
          font-weight: bold;
          font-size: 1em;
          width: min-content;
          border-radius: 13px;
          outline: solid 2px #958ada;
          border: none;
          padding: 0.7em 4em;
          position: relative;
          margin-bottom: 20px;
          cursor: pointer;
          .wishlistButtonAdorment {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            //   width: 7%;
            //   font-size: 200%;
            font-size: 1.5em;
            border-bottom-left-radius: 13px;
            border-top-left-radius: 13px;
            margin-right: 50%;
            padding: 0 5%;
            color: #958ada;
          }
        }
        .ratingContainer {
          width: 40%;
          margin-bottom: 3%;
        }
      }
    }
  }
}
