.cardContainer {
  width: 20%;
  background-color: #f3f3f3;
  border: 1px solid #958ada80;
  padding: 2em;
  border-radius: 13px;
  .cardImage {
    width: 100%;
    max-height: 15vw;
    padding: 15% 0;
  }
  .cardText {
    font-size: 1.1em;
    text-align: center;
  }
}
