.headerContainer {
  height: 26vw;
  width: 100%;
  background-color: #958ada;
  position: relative;
  .headerTitle {
    font-weight: normal;
    font-size: 3vw;
    position: absolute;
    left: 5%;
    bottom: 25%;
    max-width: 50vw;
  }
  .borrowNowButton {
    position: absolute;
    left: 5%;
    bottom: 10%;
  }

  .headerLogoStyle {
    position: absolute;
    right: 10%;
    bottom: -15%;
    height: 23vw;
  }
}
