.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  .contentContainer {
    display: flex;
    width: 100%;
  }
  .collectionContainer {
    width: 100%;
    min-height: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.253);

    .itemsContainer {
      padding-top: 2%;
      height: fit-content;
      display: flex;
      flex-flow: wrap;
      justify-content: space-evenly;
    }
  }
}
