.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .contentContainer {
    display: flex;
    // height: 900px;
    width: 100%;
  }
  .collectionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
    border-left: 1px solid rgba(0, 0, 0, 0.253);
    // background-color: red;

    .itemsContainer {
      padding-top: 2%;
      height: fit-content;
      display: flex;
      flex-flow: wrap;
      justify-content: space-evenly;
    }
  }
}
